.button {
	@apply btn-primary py-2 px-10;
}
.small {
	padding: 5px;
}

.medium {
	padding: 10px;
}

.large {
	padding: 15px;
	padding-top: 8px;
	font-size: 1.2em;
}

.colored {
	@apply h-12  border rounded hover:bg-teal-700;
}

.rose {
	@apply bg-primary hover:bg-teal-700  rounded p-2  m-2;
}

.field {
	@apply text-left mb-2 xl:mb-6;

	input {
		@apply text-lg rounded focus:ring-0 bg-transparent text-gray-700 w-full m-0 px-0;
	}
	.slug {
		@apply text-gray-500;
	}
}

.uploadField {
	@apply relative;
	.uploadFlex {
		@apply flex;

		> .uploadImageContainer {
			@apply shrink-0 relative w-40 h-40;

			img {
				@apply image-like-bg rounded-md;
			}

			> span {
				@apply animate-fade;
			}
		}

		> label {
			@apply block mr-6;

			.error {
				@apply relative -bottom-3;
			}

			> span {
				@apply text-xs uppercase text-gray-600 block mb-4;
			}

			> input {
				@apply block w-full text-sm text-gray-600 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-primary opacity-70 file:text-white transition-opacity;
			}

			&:hover > input {
				@apply opacity-100;
			}
		}
	}
}

.error {
	@apply absolute  text-sm w-full text-red-600;
}
